#screen_message_box {
    width: 800px;
    height: 500px;
    background-color: rgb(193, 245, 163);
    clear: left;
    float: left;
}
#screen_player_info {
    width: 400px;
    height: 60px;
    background-color: rgb(158, 175, 255);
    float: left;
}
#screen_com_info {
    width: 400px;
    height: 60px;
    background-color: rgb(247, 150, 150);
    float: left;
}

#input_text_turn {
    background-color: pink;
    width: 50px;
    text-align: center;
}
